## Databases
DATABASE_URL="mongodb+srv://..."
MONGO_URI_WEB="mongodb+srv://..."
MONGO_DB_WEB_NAME="MXRP"
MONGO_URI_TICKETS="mongodb+srv://..."

# Discord
GUILD_ID="1193021133981765632"
SEMOVI_ID="1273023106868445302"
SAT_ID="1318397611329454162"
DISCORD_TOKEN="your-discord-bot-token"
DISCORD_INVITE_URL="https://discord.gg/mxrp"
CLIENT_ID="your-discord-application-id"
CLIENT_SECRET="your-discord-application-secret"
DISCORD_REDIRECT_URI="https://api.egologic.cloud/v1/cli-auth/callback"
CLI_JWT_SECRET="change-this-to-a-long-random-secret"
CLI_ALLOWED_ROLE_IDS="1427063450059800659,1370153679214350336"

# Dashboard Auth - MUST MATCH WITH WEB
DASHBOARD_JWT_SECRET="change-this-to-a-strong-secret"

# Redis
REDIS_URL="your-redis-host"
REDIS_PORT="12436"
REDIS_USERNAME="default"
REDIS_PASSWORD="your-redis-password"
REDIS_TLS="false"

# Port
PORT=3000

# ER:LC Webhook
ERLC_PUBLIC_KEY="MCowBQYDK2VwAyEAjSICb9pp0kHizGQtdG8ySWsDChfGqi+gyFCttigBNOA="
